<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jerryleung.utap" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/utap_icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar">
        <activity
            android:name="com.jerryleung.utap.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".PreventionScreen"
            android:screenOrientation="portrait"
            android:label="Prevention" />

        <activity android:name=".AwareIntroScreen"
            android:screenOrientation="portrait"
            android:label="AwareIntro" />
        <activity android:name=".AwareIntroScreenTwo"
            android:screenOrientation="portrait"
            android:label="AwareIntroTwo" />
        <activity android:name=".AwareScreen"
            android:screenOrientation="portrait"
            android:label="Aware" />
        <activity android:name=".AwareUseOfAntibioticsScreen"
            android:screenOrientation="portrait"
            android:label="AwareUseOfAntibiotics"/>
        <activity android:name=".AwareOtitisMediaScreen"
            android:screenOrientation="portrait"
            android:label="AwareOtitisMedia"/>
        <activity android:name=".AwareInfectionScreen"
            android:screenOrientation="portrait"
            android:label="AwareInfections"/>
        <activity android:name=".AwareAntibioticResistanceScreen"
            android:screenOrientation="portrait"
            android:label="AwareAntibioticResistance"/>
        <activity android:name=".AwareAntimicrobialScreen"
            android:screenOrientation="portrait"
            android:label="AwareAntimicrobial"/>

        <activity android:name=".ImmunizationScreen"
            android:screenOrientation="portrait"
            android:label="Immunization" />
        <activity android:name=".ImmunizationInfluenzaScreen"
            android:screenOrientation="portrait"
            android:label="AlgorithmInfluenza" />
        <activity android:name=".ImmunizationTdapScreen"
            android:screenOrientation="portrait"
            android:label="AlgorithmTdap" />
        <activity android:name=".ImmunizationPneumonococcalScreen"
            android:screenOrientation="portrait"
            android:label="AlgorithmTdap" />


        <activity android:name=".AlgorithmScreen"
            android:screenOrientation="portrait"
            android:label="Algorithm" />
        <activity android:name=".AlgorithmAdultScreen"
            android:screenOrientation="portrait"
            android:label="AlgorithmAdult" />
        <activity android:name=".AlgorithmAdultPharScreen"
            android:screenOrientation="portrait"
            android:label="AlgorithmAdultPhar" />
        <activity android:name=".AlgorithmAdultPharStrepScreen"
            android:screenOrientation="portrait"
            android:label="AlgorithmAdultPharStrep" />
        <activity android:name=".AlgorithmAdultPharViralScreen"
            android:screenOrientation="portrait"
            android:label="AlgorithmAdultPharViral" />
        <activity android:name=".AlgorithmAdultAcuteScreen"
            android:screenOrientation="portrait"
            android:label="AlgorithmAdultAcute" />
        <activity android:name=".AlgorithmAdultAcuteMildScreen"
            android:screenOrientation="portrait"
            android:label="AlgorithmAdultAcuteMild" />
        <activity android:name=".AlgorithmAdultAcuteSevereScreen"
            android:screenOrientation="portrait"
            android:label="AlgorithmAdultAcuteSevere" />

        <activity android:name=".AlgorithmChildScreen"
            android:screenOrientation="portrait"
            android:label="AlgorithmChild" />
        <activity android:name=".AlgorithmChildPharScreen"
            android:screenOrientation="portrait"
            android:label="AlgorithmChild" />


        <activity android:name=".ReferenceScreen"
            android:screenOrientation="portrait"
            android:label="Reference" />




    </application>

</manifest>
